<?xml version="1.0"?>
<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kinova_description)/urdf/camera.xacro"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>